@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

a:link {
  text-decoration:none;
}

a:hover {
  color:white;
}

a:visited {
  color:purple;
}

article {
  margin:2em;
  text-align:left;
}

article td {
  @include vertical-align();
  padding: 1em 0 1em 0;
}

body {
  background-color:lightblue;
  color:black;
  font-family:Georgia "Palatino Linotype" "Book Antiqua" Palatino serif;
  font-size:20px;
  margin:0;
  padding:0;
}

figcaption {
  font-family:sans-serif;
  font-size:60%;
  text-align:center;
}

figure {
  margin:0;
}

footer {
  clear:both;
  font-family:sans-serif;
  font-size:55%;
  margin-top:-3em;
}

footer img, header img {
  width:4.5em;
}

footer td {
  padding:0 1em 1em 1em;
}

footer td.col2 {
  padding-top:3em;
  text-align:center;
  width:100%;
}

h1 {
  margin-top:1em;
  text-align:center;
}

h4 {
  clear:both;
  padding-top:2em;
}

header table {
  margin-top:-3.0em;
}

header .col2 {
  text-align:center;
  width:100%;
}

header .col2 img {
  padding-top:4em;
  width:5.25em;
}

img {
  width:6em;
}

p {
  margin:0 2em 0.6em 2em;
  font-size:99%;
}

p:first-child:first-letter {
  color:#55a;
  float:left;
  font-family:cursive;
  font-weight:bold;
  line-height:79%;
  font-size:2.45em;
  padding:.05em .2em 0 0;
}

sup {
  vertical-align:super;
  font-size:55%;
}

.col2 {
  width:100%;
}
