a:link {
  text-decoration:none;
}

a:hover {
  color:white;
}

a:visited {
  color:purple;
}

article {
  margin:2em 2em 2em 2em;
  text-align:left;
}

article td {
  padding: .25em 0 2em 0;
}

body {
  background-color:lightblue;
  color:black;
  font-family:Georgia "Palatino Linotype" "Book Antiqua" Palatino serif;
  font-size:20px;
  margin:0;
  padding:0;
}

figcaption {
  font-family:sans-serif;
  font-size:60%;
  text-align:center;
}

footer {
  clear:both;
  font-family:sans-serif;
  font-size:55%;
  margin-top:-5em;
}

footer td.col1, td.col3 {
  padding:0 1em 1em 1em;
}

footer td.col2 {
  padding-top:3em;
  text-align:center;
  width:100%;
}

h1 {
  margin-top:1em;
  text-align:center;
}

h4 {
  clear:both;
  padding-top:2em;
}

header {
  margin:1em 1em 0 1em;
}

header .col1,.col3 {
  margin:0;
  padding:0;
}
header .col2 {
  text-align:center;
}

img {
  width:6em;
}

p {
  margin:0 2em 0.6em 2em;
  font-size:99%;
}

p:first-child:first-letter {
  color:#55a;
  float:left;
  font-family:cursive;
  line-height:79%;
  font-size:2.45em;
  padding:.05em .2em 0 0;
}

sup {
  vertical-align:super;
  font-size:55%;
}

.col1 {
  float:left;
}
.col2 {
  width:100%;
}

.col3 {
  float:right;
}
