body {
  background-color: lightblue;
  color: black;
  font-family: Georgia, "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

p {
  font-size: 95%;
}

p:first-letter {
  color: #579;
  float: left;
  font-size: 350%;
  line-height: 60%;
  padding: 1px 2px 0 0;
}

article {
  text-align: left;
}

footer {
  clear: both;
  font-size: 75%;
}

figcaption {
  font-size: 70%;
  text-align: center;
}

header {
  margin-top: 20px;
  text-align: center;
}

h1 {
  text-align: center;
}

.blurb {
}
.center {
  clear: both;
  position: relative;
}

.center img figure {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0%;
}

.photos {
  height: 120px;
}

.figures {
  float: right;
}

.seal {
  float: left;
  height: 120px;
  margin: 25px 10px 0 25px;
}

.comments {
  padding-top: 25px;
}
